*{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.header{
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	
}
body{
	font-family: 'Open Sans', sans-serif;

}
.container{
	width: 1140px;
	margin: auto;
}
.menu li{
	list-style: none;
	display: inline-block;
	margin-right: 18px;
	margin-left: 18px;
}
.menu{
	text-align: center;
}

.menu a{
	display: inline-block;
	text-decoration: none;
	color: black;
	transition: 0.1s;
}
.menu a:hover{
	color: black;
	display: inline-block;
	transform: scale(1.6);
	transition: 0.1s;
}

.banner{
	width: 100%;
}
.main-box{
	display:flex;
}
.right{
	flex-basis: 50%;
	margin-top: 40px;
}
.left{
	flex-basis: 50%;
	margin-top: 100px;
}
.left h1{
	font-size: 45px;
	font-weight: 700;
	color: #1e266d;
}
.left p{
	margin: 20px 0;
	font-size: 22px;
	font-weight: 300;
	color: #1e266d;
}
.banner-btn{
	text-decoration: none;
	background-color: #2e367d;
	padding: 13px 30px;
	color: white;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
}
.footer{
	width: 100%;
	padding: 100px 0px;
}
.footer-main{
	display: flex;
}
.footer-item{
	flex-basis: 25%;
	padding: 0px 15px;
}
.footer-item h5{
	color: #1e266d;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.footer-item p{
	font-size: 16px;
	color: #91a3bb;
	font-weight: 400;
	margin-bottom: 16px;
	line-height: 30.4px;
}
.footer-item a{
	list-style: none;
	color: #91a3bb;
	transition: 0.4s;
	line-height: 28px;
}
.footer-item a:hover{
	color: #2e367d;
    padding-left: 5px;
    transition: 0.4s;
}
.address{
	width: 100%;

}
.address-main{
	display: flex;
	background-color: #2e367d;
	color: white;
	padding: 100px 60px 80px 60px;
	border-radius: 8px;
}
.address-item{
	flex-basis: 50%;

}
.address-item h5{
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}
.address-item p{
	line-height: 1.9;
}